*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: url('/public/beautiful-mountains.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  
}
.container{
  background:lightblue;
  padding: 30px 120px;
  width: 415px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
}
.container-date{
  width: 30px;
  margin-bottom: 20px;

}

.weather_city{
  font-size: 50px;
  margin-bottom: 30px;

}
.sunny{
  width: 150px;
  margin-top: 50px;
}
.temp{
  font-size: 30px;
  color: black;
  position: relative;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.feel{
  font-size: 30px;
  margin-top: 30px;
  
}

.input{
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;
  
}
.button{
  text-align: center;
  margin-top: 20px;
}